{
    // Waybar configuration for River WM
    // "layer": "top", // Waybar at top layer
    // "position": "bottom", // Waybar position (top|bottom|left|right)
    // "height": 30, // Waybar height (to be removed for auto height)
    "margin": "10 20 0 20",
    // "width": 1280, // Waybar width
    // Choose the order of the modules
    "modules-left": ["river/tags", "river/mode", "custom/pacman"],
    "modules-center": ["clock"],
    "modules-right": ["pulseaudio", "custom/mem", "group/connectivity", "tray"],

    //***************************
    //*  Modules configuration  *
    //***************************

    "river/tags": {
        "num-tags": 9,
        "tag-labels": ["1", "2", "3", "4", "5", "6", "7", "8", "9"]
    },

    "river/mode": {
        "format": "{}"
    },

    // paru -S aurutils
    "custom/pacman": {
        "format": "{} ",
        "interval": 3600,                     			// every hour
        "exec": "(checkupdates;pacman -Qm | aur vercmp) | wc -l",	// # of updates
        "exec-if": "exit 0",                  			// always run; consider advanced run conditions
        "on-click": "ghostty -e sh -c 'paru; echo Done - Press enter to exit; read'; pkill -SIGRTMIN+8 waybar", // update system
        "signal": 8,
        "tooltip": false
    },

    "clock": {
        "timezone": "Asia/Tokyo",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format": "{:%a, %d %b, %I:%M %p}"
    },

    "pulseaudio": {
        // "scroll-step": 1, // %, can be a float
        "reverse-scrolling": 1,
        "format": "{volume}% {icon} {format_source}",
        "format-bluetooth": "{volume}% {icon} {format_source}",
        "format-bluetooth-muted": " {icon} {format_source}",
        "format-muted": "婢 {format_source}",
        "format-source": "{volume}% ",
        "format-source-muted": "",
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["奄", "奔", "墳"]
        },
        "on-click": "pavucontrol",
        "min-length": 13
    },

    "custom/mem": {
        "format": "{} ",
        "interval": 3,
        "exec": "free -h | awk '/Mem:/{printf $3}'",
        "tooltip": false
    },

    "group/connectivity": {
        "orientation": "horizontal",
        "modules": ["network", "bluetooth"]
    },

    "network": {
        "interface": "wlan0",
        "format": "{ifname}",
        "format-wifi": "󰤨 {signalStrength}%",
        "format-ethernet": "󰈀 {ipaddr}",
        "format-disconnected": "󰤭",
        "tooltip-format": "{ifname} via {gwaddr}",
        "tooltip-format-wifi": "{essid} ({signalStrength}%)\n{ipaddr}",
        "tooltip-format-disconnected": "Disconnected",
        "on-click": "iwgtk"
    },

    "bluetooth": {
        "format": "󰂯",
        "format-connected": "󰂱 {num_connections}",
        "format-disabled": "󰂲",
        "tooltip-format": "{controller_alias}\t{controller_address}",
        "tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{device_enumerate}",
        "tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
        "on-click": "blueman-manager"
    }
}
