* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Liberation Mono;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* River tags */
#tags {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
}

#tags button {
    transition: none;
    color: #7c818c;
    background: transparent;
    padding: 5px;
    font-size: 18px;
}

#tags button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #7c818c;
}

#tags button.focused {
    color: white;
}

#tags button.occupied {
    color: #b4befe;
}

#tags button.urgent {
    color: #f38ba8;
}

/* River mode indicator */
#mode {
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #f38ba8;
    background: #383c4a;
}

#custom-pacman {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#connectivity {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#connectivity #network {
    padding-right: 8px;
    background: transparent;
}

#connectivity #network.disconnected {
    color: #f38ba8;
}

#connectivity #bluetooth {
    padding-left: 8px;
    background: transparent;
}

#connectivity #bluetooth.connected {
    color: #89b4fa;
}

#connectivity #bluetooth.disabled {
    color: #7c818c;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
